table, th, td {
    border: 1px solid;
    border-collapse: collapse;


}

th {
    background-color: #4CAF50;
    color: white;
 
}

tr:nth-child(even) {
      background-color: #810065bb;
    
}



#div1 {
    height: 200px;
    width: 400px;
    border: solid seagreen;
    padding: 5px; /* Clears an area around the content. Before the Border. The padding is transparent. Content > Padding > Border > Margin  */
}

#div2 {
    float: left;
    height: 400px;
    width: 200px;
    border: dotted rgb(253, 158, 209);
    margin: 5px; /* Clears an area outside the border. The margin is transparent 
    Essentially, you want to: Use padding for spacing within an element. Use margin for spacing between elements.*/

}

ul {
    list-style-type: square;
    list-style-position: outside;
    background: #3399ff;
    padding: 20px;
}

ul li {
    background: #cce5ff;
    margin: 5px;
  }