.container {

    border: solid orangered;
    display: flex;
    

   

    &__item {
       width: 20rem;
       margin: 1rem;
       border: 3px solid #333333;
       background-color: #dfdfdf;

       &--1 {
           min-height: 10rem;
           flex-shrink: 0;  
           align-self: flex-end;
       }

       &--2 {
           min-height: 20rem;
           flex-grow: 2;
           flex-basis: 0;
           align-self: center;
       }

       &--3 {
           min-height: 30rem;
           flex-grow: 1;
       }
    }
    

    
}