.hero {
    height: 100vh;
    background-image: url("../img/negative-space-black-forest-dawn.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
 
    
  } 

  .hamburgerMenu {
    //padding-right: 1.4rem;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__button {
      background-color: #fff;
      
      font-size: 3.5rem;
    }
  }

 .hero__text {
   
   height: 100vh;
   display: flex;
   padding-left: 15%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: #fff;
    h1 {
      font-size: 3.5rem;
    }

    p {
     font-size:  2rem;
    
    }

    .hero__subtext--primary {
      margin-top: 3.5rem;
      margin-bottom: 3.5rem;
    }


 }

 .hero__button {
   padding-left: 0%;
   font-size: 3rem;
   color: #fff;
   position: absolute;
   bottom: 3rem;
   width: 100%;
   display: flex;
   justify-content: center;
 }
 


