.new {
    background-color: transparent;
    border: 0;
    color: inherit;
    border-bottom: .1rem solid currentColor;
    outline: none;
    margin-top: 2rem;
    padding: 1rem;

    &::placeholder {
        opacity: .4;
    }
    
}