//colors
$clr-primary: rgb(54, 112, 199);
$clr-light: #f4f4f4;
$clr-dark: #333;
$clr-grey: #888888;
$clr-warning: rgb(99, 36, 36);
$clr-title: rgba(0, 0, 0, 0.1);


//custom properties for margin padding etc

$checkboxSize: 1.5rem;

$spacer: 2rem;