@keyframes moveInleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20rem); }
  80% {
    -webkit-transform: translateX(2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20rem); }
  80% {
    -webkit-transform: translateX(-2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0); } }

@keyframes moveInBottomButton {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  /* pseudoelement is basically a child of the regular button */
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInBottomButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }
