html{

    font
}

#first {
    width: 300px;
    height: 200px;
    border: dotted black;
    padding: 40px;
    margin: 20px;
    text-align: left;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;

}

/*  */ 
.second {
    width: 500px;
    height: 400px;
    font-size: 20px

}

p{
font-size: 0.5em ;
}

/* em påverkas av parent element och rem påverkas av rotelementet? */ 

div {
    border: 1px solid indigo;
}

/* Prioritet är ID > CLASS > ELEMENT JU MER SPECIFIK SELECTOR DESTO HÖGRE PRIO(?) */


a {
    color: burlywood;
    text-decoration: none;

}

a:hover { 
color: crimson;
}