@mixin transform {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: $property;
}

@mixin transform ($property) {}

@include transform (rotate(15deg));

$property: rotate(15deg);

@mixin phones-only {
    @media screen and (max-width: 500px) {
        @content
    }
}

@include phones-only() {
    #wrapper {
        width: 100%;
        background-color: red;
    }
}